# Import Data 

To help us make useful predictions, we make use of data such as banners, events, and story releases. All data is split by JP / EN.

## Revenue Data

Please refer to the excel for more information.

In [49]:
import pandas as pd
reddit_data = pd.read_excel('./data/reddit-monthly-revenue-report.xlsx').iloc[:, :3]
ennead_data = pd.read_excel('./data/revenue-ennead-cc-revenue-report.xlsx')
pd.concat([reddit_data, ennead_data], ignore_index=True)

         Date          JP     Global
0  2021-02-01         NaN        NaN
1  2021-03-01         NaN        NaN
2  2021-04-01         NaN        NaN
3  2021-05-01         NaN        NaN
4  2021-06-01         NaN        NaN
5  2021-07-01         NaN        NaN
6  2021-08-01         NaN        NaN
7  2021-09-01         NaN        NaN
8  2021-10-01         NaN        NaN
9  2021-11-01   3000000.0        NaN
10 2021-12-01   2000000.0  5000000.0
11 2022-01-01   6000000.0  2800000.0
12 2022-02-01   4000000.0  2800000.0
13 2022-03-01   2000000.0  2700000.0
14 2022-04-01   1900000.0  1400000.0
15 2022-05-01   2000000.0  2900000.0
16 2022-06-01   4000000.0  1500000.0
17 2022-07-01  10000000.0  1200000.0
18 2022-08-01   6989822.0  1058556.0
19 2022-09-01   4000000.0  2700000.0
20 2022-10-01   9000000.0  1500000.0
21 2022-11-01   5000000.0  1500000.0
22 2022-12-01   5000000.0  1500000.0
23 2023-01-01  18000000.0  2700000.0
24 2023-02-01  17000000.0  6000000.0
25 2023-03-01  12000000.0  3000000.0
26 2023-04-01   8000000.0  4000000.0
27 2023-05-01  10000000.0  1800000.0
28 2023-06-01   5000000.0  1700000.0
29 2023-07-01  14000000.0  5000000.0
30 2023-08-01  19000000.0  4000000.0
31 2023-09-01   7000000.0  1800000.0
32 2023-10-01   9000000.0  1700000.0
33 2023-11-01   6000000.0  2900000.0
34 2023-12-01   5000000.0  1600000.0
35 2024-01-01  11000000.0  3000000.0
36 2024-02-01  12000000.0  6000000.0
37 2024-03-01   7000000.0  1700000.0
38 2024-04-01   6000000.0  1700000.0
39 2024-05-01   6000000.0  2800000.0
40 2024-06-01   4000000.0  2700000.0
41 2024-07-01  10000000.0  3000000.0
42 2024-08-01   5000000.0  3800000.0
43 2024-09-01   4000000.0  1500000.0
44 2024-10-01   7000000.0  2700000.0
45 2024-11-01   5000000.0  1410000.0
46 2024-12-01   4000000.0  1210000.0
47 2025-01-01  14000000.0  3030000.0
48 2025-02-01   5000000.0  1110000.0
49 2025-03-01   3000000.0  1320000.0
50 2025-04-01   6000000.0  1220000.0
51 2025-05-01   4000000.0  1010000.0
52 2025-06-01   3000000.0  1110000.0
53 2025-07-01   6000000.0  2930000.0

## Banner Data

The info was sourced from here:
https://api.ennead.cc/buruaka/banner

In [54]:
import requests

banner_en = requests.get('https://api.ennead.cc/buruaka/banner').json()
all_banners_en = banner_en['ended'] + banner_en['current'] + banner_en['upcoming']
all_banners_en = pd.DataFrame(all_banners_en)

all_banners_en['startAt'] = pd.to_datetime(all_banners_en['startAt'], unit='ms')
all_banners_en['endAt'] = pd.to_datetime(all_banners_en['endAt'], unit='ms')
all_banners_en = all_banners_en.sort_values(by='startAt')
# all_banners_en

In [51]:
banner_jp = requests.get('https://api.ennead.cc/buruaka/banner?region=japan').json()
all_banners_jp = banner_jp['ended'] + banner_jp['current'] + banner_jp['upcoming']
all_banners_jp = pd.DataFrame(all_banners_jp)

all_banners_jp['startAt'] = pd.to_datetime(all_banners_jp['startAt'], unit='ms')
all_banners_jp['endAt'] = pd.to_datetime(all_banners_jp['endAt'], unit='ms')
all_banners_jp = all_banners_jp.sort_values(by='startAt')

## Story Release

The info was sourced from here:
https://bluearchive.fandom.com/wiki/Story/Main_Story

Unfortunately, only the JP dates are available.

In [52]:
story_jp = pd.read_excel('./data/story-jp.xlsx').iloc[:, :5]
story_jp.head()
# story_jp.info()

  Volume                   Full Name  Chapter  Part         Release Date
0      1  The Foreclosure Task Force        1   NaN  2021-02-04 00:00:00
1      1  The Foreclosure Task Force        2   1.0  2021-03-11 00:00:00
2      1  The Foreclosure Task Force        2   2.0  2021-03-18 00:00:00
3      1  The Foreclosure Task Force        3   0.0  2024-02-07 00:00:00
4      1  The Foreclosure Task Force        3   1.0  2024-04-11 00:00:00

## Event Schedule

The data was sourced from here: https://bluearchive.wiki/wiki/Events

In [63]:
event_en = pd.read_excel('./data/event-en.xlsx')
event_jp = pd.read_excel('./data/event-jp.xlsx').iloc[:, :5]
# event_en
event_jp

,Name (EN),Name (JP),Start date,End date,Notes
0,Cherry Blossom Festival Commotion! ~Flowers in...,桜花爛漫お祭り騒ぎ！~空に徒花 地に忍び~,2021-02-25,2021-03-11,NaN
1,"Revolutionary Ivan Kupala: Moustache, Pudding ...",革命のイワン・クパーラ 髭とプリンとレッドウィンター,2021-04-29,2021-05-13,NaN
2,Summer Sky's Wishlist,夏空のウィッシュリスト,2021-06-30,2021-07-15,NaN
3,～Emergency Special Order of the Disciplinary c...,～風紀委員会行政官緊急特務命令～ ヒナ委員長のなつやすみっ！,2021-07-29,2021-08-12,NaN
4,Catch in Neverland,ネバーランドでつかまえて,2021-08-26,2021-09-09,NaN
...,...,...,...,...,...
79,A Flower Blooms Among The Hundred ～ Honorable ...,百ヨリ出ズル一輪ノ～いざ尋常に、水上勝負～,2025-06-25,2025-07-09,NaN
80,Summer Sky's Promise,夏空のやくそく,2025-07-22,2025-08-06,NaN
81,Say-Bing!,Say-Bing!,2025-08-06,2025-08-13,NaN
82,We are the Occult Research Society! ～Academy M...,我らオカルト研究会！～学院の不思議と古の呪文～,2025-08-20,2025-09-03,NaN
83,Sheside outside,Sheside outside,2025-09-03,2025-09-17,NaN